<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>UniversityAPI</title>

    <style>
        body{
            font-family: 'Roboto', sans-serif;
        }
        .navbar {
            background-image: url('https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80');
            background-repeat: no-repeat;
            background-size: cover;
        }
        #logo{
            color:white;
        }
        #search{ 
            margin-bottom: 5px;
            width:100%;
        }
        #searchbtn{ 
            margin-bottom: 5px;
            width:100%;
        }
    </style>
  </head>
  <body>
        <div class="container border rounded">
                <nav class="navbar navbar-light bg-light rounded">
                        <a id="logo" class="navbar-brand" href="#"><i class="fas fa-university"></i>
                             University API</a>
                </nav>