<% include partials/header %>

        <div class="row mb-4">
            <div class="col-md-3"></div>
            <div class="col-md-5 m-5 p-4 border bg-light rounded">

                <h4><i class="fas fa-search"></i> Search for Universities</h4>

                <form action="/results" method="GET">
                    <input id="search" type="text" placeholder="country" name="search">
                    <br>
                    <input id="search" type="text" placeholder="name" name="name">
                    <br>
                    <input id="searchbtn" type="submit" class="btn btn-dark" value="Search">
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>


<% include partials/footer %>
